{% extends 'locksmith_picks_app/base.html' %}
{% load static %}

{% block title %} Locksmith Picks - Defense vs. Position {% endblock %}

{% block content %}
    <div class = "dvp">

        <h1>Defense vs. Position</h1>
        <p>Use this page to target and exploit positional matchups using NBA team defense data vs. every position. You can also sort each stat by clicking on the stat you want to sort.</p>

        <div class = "dvp-tools">
            <div class = "pos-select">
                <form method = "GET">
                    <label for="position">Select Position:</label>
                    <select name="position" id="position">
                        <option value="PG" {% if selected == "PG" %}selected{% endif %}>Point Guard</option>
                        <option value="SG" {% if selected == "SG" %}selected{% endif %}>Shooting Guard</option>
                        <option value="SF" {% if selected == "SF" %}selected{% endif %}>Small Forward</option>
                        <option value="PF" {% if selected == "PF" %}selected{% endif %}>Power Forward</option>
                        <option value="C" {% if selected == "C" %}selected{% endif %}>Center</option>
                    </select>
                    <button type="submit">Select</button>
                </form>
            </div>

            <div class="key">
                <div class="key-matchup">
                    <span class="dot easy"></span>
                    <span class="key-label"> Easy Matchup </span>
                </div>
                <div class="key-matchup">
                    <span class="dot difficult"></span>
                    <span class="key-label"> Difficult Matchup </span>
                </div>
            </div>
            
        </div>

        <div class = "dvp-table-container">
            <table class = "dvp-table">
                <tr>
                    <td colspan = "6">
                        <div class = "row-card">
                            <div class = "row-flex">
                                <span>
                                    <a href="?position={{ selected }}&sort=team__name&order={% if current_sort == 'team__name' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                    Team
                                    </a>
                                </span>
                                <span>
                                    <a href="?position={{ selected }}&sort=points_allowed_avg&order={% if current_sort == 'points_allowed_avg' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                    Points Allowed
                                    </a>
                                </span>
                                <span>
                                    <a href="?position={{ selected }}&sort=rebounds_allowed_avg&order={% if current_sort == 'rebounds_allowed_avg' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                    Rebounds Allowed
                                    </a>
                                </span>
                                <span>
                                    <a href="?position={{ selected }}&sort=assists_allowed_avg&order={% if current_sort == 'assists_allowed_avg' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                    Assists Allowed
                                    </a>
                                </span>
                                <span>
                                    <a href="?position={{ selected }}&sort=steals_allowed_avg&order={% if current_sort == 'steals_allowed_avg' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                    Steals Allowed
                                    </a>
                                </span>
                                <span>
                                    <a href="?position={{ selected }}&sort=blocks_allowed_avg&order={% if current_sort == 'blocks_allowed_avg' and current_order == 'asc' %}desc{% else %}asc{% endif %}">
                                    Blocks Allowed
                                    </a>
                                </span>
                            </div>
                        </div>
                    </td>
                </tr>
                {% for stat in stats %}
                    <tr>
                        <td colspan="6">
                            <div class="row-card">
                                <div class="row-flex">
                                    <span>{{ stat.team.get_name_display }}</span>
                                    <span class="{{ stat.flags.points_allowed_avg }}">{{ stat.points_allowed_avg }}</span>
                                    <span class="{{ stat.flags.rebounds_allowed_avg }}">{{ stat.rebounds_allowed_avg }}</span>
                                    <span class="{{ stat.flags.assists_allowed_avg }}">{{ stat.assists_allowed_avg }}</span>
                                    <span class="{{ stat.flags.steals_allowed_avg }}">{{ stat.steals_allowed_avg }}</span>
                                    <span class="{{ stat.flags.blocks_allowed_avg }}">{{ stat.blocks_allowed_avg }}</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    
{% endblock %}