{% extends 'locksmith_picks_app/base.html' %}
{% load static %}
{% load filters %}

{% block title %} Locksmith Picks - Hot and Cold Players {% endblock %}

{% block content %}
    <div class = "hotandcold">
        <div class = "statpair">
            <div class = "hotstat">
                <h1>5 Hottest Scorers</h1>
                {% for player, diff in hotpts.items %}
                    <div class="h-player-info">
                        <span>{{ player.name }}, {{ player.position }}</span>
                        <span>{{ player.team.get_name_display }}</span>
                        <span>He is averaging {{ diff }} more points than average!</span>
                    </div>
                {% endfor %}
            </div>
            <div class = "coldstat">
                <h1>5 Coldest Scorers</h1>
                {% for player, diff in coldpts.items %}
                    <div class="c-player-info">
                        <span>{{ player.name }}, {{ player.position }}</span>
                        <span>{{ player.team.get_name_display }}</span>
                        <span>He is averaging {{ diff|absolute }} less points than average.</span>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class = "statpair">
            <div class = "hotstat">
                <h1>5 Hottest Rebounders</h1>
                {% for player, diff in hotreb.items %}
                    <div class="h-player-info">
                        <span>{{ player.name }}, {{ player.position }}</span>
                        <span>{{ player.team.get_name_display }}</span>
                        <span>He is averaging {{ diff }} more rebounds than average!</span>
                    </div>
                {% endfor %}
            </div>
            <div class = "coldstat">
                <h1>5 Coldest Rebounders</h1>
                {% for player, diff in coldreb.items %}
                    <div class="c-player-info">
                        <span>{{ player.name }}, {{ player.position }}</span>
                        <span>{{ player.team.get_name_display }}</span>
                        <span>He is averaging {{ diff|absolute }} less rebounds than average.</span>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class = "statpair">
            <div class = "hotstat">
                <h1>5 Hottest Passers</h1>
                {% for player, diff in hotast.items %}
                    <div class="h-player-info">
                        <span>{{ player.name }}, {{ player.position }}</span>
                        <span>{{ player.team.get_name_display }}</span>
                        <span>He is averaging {{ diff }} more assists than average!</span>
                    </div>
                {% endfor %}
            </div>
            <div class = "coldstat">
                <h1>5 Coldest Passers</h1>
                {% for player, diff in coldast.items %}
                    <div class="c-player-info">
                        <span>{{ player.name }}, {{ player.position }}</span>
                        <span>{{ player.team.get_name_display }}</span>
                        <span>He is averaging {{ diff|absolute }} less assists than average.</span>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class = "statpair">
            <div class = "hotstat">
                <h1>5 Hottest Stealers</h1>
                {% for player, diff in hotstl.items %}
                    <div class="h-player-info">
                        <span>{{ player.name }}, {{ player.position }}</span>
                        <span>{{ player.team.get_name_display }}</span>
                        <span>He is averaging {{ diff }} more steals than average!</span>
                    </div>
                {% endfor %}
            </div>
            <div class = "coldstat">
                <h1>5 Coldest Stealers</h1>
                {% for player, diff in coldstl.items %}
                    <div class="c-player-info">
                        <span>{{ player.name }}, {{ player.position }}</span>
                        <span>{{ player.team.get_name_display }}</span>
                        <span>He is averaging {{ diff|absolute }} less steals than average.</span>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class = "statpair">
            <div class = "hotstat">
                <h1>5 Hottest Shot Blockers</h1>
                {% for player, diff in hotblk.items %}
                    <div class="h-player-info">
                        <span>{{ player.name }}, {{ player.position }}</span>
                        <span>{{ player.team.get_name_display }}</span>
                        <span>He is averaging {{ diff }} more blocks than average!</span>
                    </div>
                {% endfor %}
            </div>
            <div class = "coldstat">
                <h1>5 Coldest Shot Blockers</h1>
                {% for player, diff in coldblk.items %}
                    <div class="c-player-info">
                        <span>{{ player.name }}, {{ player.position }}</span>
                        <span>{{ player.team.get_name_display }}</span>
                        <span>He is averaging {{ diff|absolute }} less blocks than average.</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}