{% extends 'locksmith_picks_app/base.html' %}
{% load static %}

{% block title %}
    <title>Locksmith Picks</title>
    <link rel="stylesheet" href="{% static 'locksmith_picks_app/styles.css' %}">
{% endblock %}

{% block content %}
    <div class="main">
        <div class="main__container">
            <div class="main__content">
                <h1>A Data-Driven Edge to Player Props for Massive Payouts</h1>
                <p>The ultimate toolkit for smart NBA prop betting.</p>
                <button class="main__btn"> 
                    <a href="{% url 'mailinglist' %}">
                        Join our Mailing List
                    </a>
                </button>
            </div>
            <div class="main__img--container">
                <img src="{% static 'locksmith_picks_app/images/pic1.svg' %}" alt="pic" id="main__img">
            </div>       
        </div>
    </div>

    <section class="tools">
        <div class="container">
            <h2>Tools</h2>
            <p class="description">
                These tools will help you make the best picks for your NBA parlays.
            </p>
            <div class="tools-grid">
                <div class="tool">
                    <i class="icon"></i> 
                    <h3>Defense vs. Position</h3>
                    <p>This tool allows you to look at which teams allows the most or least of a stat to a specific position.</p>
                </div>
                <div class="tool">
                    <i class="icon"></i>
                    <h3>Last 10 Games</h3>
                    <p>This tool shows you the stats of any given player over the last 10 games.</p>
                </div>`
                <div class="tool">
                    <i class="icon"></i>
                    <h3>Hot and Cold Streaks</h3>
                    <p>This tool shows you which players are on a hot streak and which players are on a cold streak.</p>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'locksmith_picks_app/app.js' %}"></script>
{% endblock %}